<div class="form-inline form-group">
  {{view "select" class="form-control input-sm" content=trails optionValuePath="content" optionLabelPath="content.name" selection=selectedTrail}}
    <button type="button" class="btn btn-default btn-sm" {{action 'addTrail'}}>
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
    </button>
</div>
{{#if selectedTrail}}
  {{mtg-data-trail trail=selectedTrail levels=levels}}
{{/if}}


