<div class="btn-group">
  {{model.name}}
  <button type="button" class="btn btn-info btn-sm" {{action 'updateLevel'}}>
      <span class="glyphicon glyphicon-save" aria-hidden="true"></span>
  </button>
  <button type="button" class="btn btn-danger btn-sm" {{action 'deleteLevel'}}>
      <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
  </button>
</div>
