<button type="button" data-toggle="tooltip" data-original-title="{{followPathModeTitle}}"
        class="btn btn-brown-red map-draw-follow-path hidden" {{action 'toggleAction'}}>
    <span class={{followPathModeIcon}} aria-hidden="true"></span>
</button>
