{{#dropdown-list item="Import" icon="import" toggle="tooltip" title="Import a path related ot the selected trail"}}
    <ul class="dropdown-menu map-data-import-dropdown">
        <li>
            <table class="table table-hover table-condensed">
                <tbody>
                <tr>
                    <td {{action 'command' 'trail.trailer.import'}}>
                    <span type="button" data-toggle="tooltip" title="Import the Trailer's Trail"
                          class="btn btn-success map-data-import-trailer">
                        <img src="assets/images/walk.png" class="inverted" width="16" height="16"/>
                    </span>
                        Import trailer's track
                    </td>
                </tr>
                <tr>
                    <td {{action 'command' 'trail.team.import'}}>
                    <span type="button" data-toggle="tooltip" title="Import the Team's Trail"
                          class="btn btn-warning map-data-import-team">
                        <img src="assets/images/track.png" class="inverted" width="16" height="16"/>
                    </span>
                        Import team's track
                    </td>
                </tr>
                </tbody>
            </table>
        </li>
    </ul>
{{/dropdown-list}}
