<button type="button" data-toggle="tooltip" data-original-title="Draw the Team's Trail"
        class="btn btn-warning map-draw-team" {{action 'command' 'data.team.create'}}>
    <img src="assets/images/track.png" class="inverted" width="16" height="16"/>
</button>
