<button type="button" data-toggle="tooltip" data-original-title="{{followPathModeTitle}}"
        class="btn btn-brown-red map-draw-follow-path" {{action 'toggleFollowPathMode'}}>
    <span class="glyphicon glyphicon-{{followPathModeIcon}}" aria-hidden="true"></span>
</button>
<button type="button" class="btn btn-info mtg-modify" data-toggle="tooltip"
        title="Click on an item to modify it" {{action 'toggleModify'}}>
    <img src="assets/images/hand.png" width="16" height="16"/>
</button>
