<div class="input-group input-group-sm map-location">
  {{input type="text" class="form-control map-location-search-input" value=locationSearch size="8" action='findLocation'}}
    <span class="input-group-btn">
      <button type="button" data-hint="Place Lookup" class="btn btn-default hint--bottom" {{action 'findLocation'}}>Go</button>
    </span>
</div>
