{{#dropdown-list item="Export" icon="export" toggle="tooltip" title="Export the path related ot the trailer's trail"}}
    <ul class="dropdown-menu map-data-export-dropdown">
      {{#each format in formats}}
          <li><a {{action 'exportTrace' format selectedTrail}}>{{format}}</a></li>
      {{/each}}
    </ul>
{{/dropdown-list}}
