{{#dropdown-list item="Trails" img="assets/images/track.png" toggle="tooltip" title="Create or select a trail"}}
    <ul class="dropdown-menu map-data-trails-dropdown">
        <li>
            <table class="table table-hover table-striped table-condensed">
                <thead>
                <tr>
                    <th colspan="2">
                      {{render "mapDataTrailManagerHead" controller="mapData"}}
                    </th>
                </tr>
                </thead>
                <tbody>
                {{render "mapDataTrailManagerTrails" controller="mapData"}}
                </tbody>
            </table>
        </li>
    </ul>
{{/dropdown-list}}
