<div class="map-info">
    {{selectedTrail.name}} [<img src="assets/images/rocket.png"/> {{selectedTrail.level.name}}, <img src="assets/images/basket.png"/> {{selectedTrail.items.length}}, <span class="glyphicon glyphicon-road" aria-hidden="true"></span> {{selectedTrail.length}} ]
</div>