<button type="button"
    data-toggle="tooltip"
    title={{t "map.menu.screenshot.tooltip" }}
    class="btn btn-default" {{action 'screenshot'}}>
  <span class="glyphicon glyphicon-picture" aria-hidden="true"></span>
</button>
