<button type="button" data-toggle="tooltip" data-original-title="{{followPathModeTitle}}"
        class="btn btn-brown-red map-draw-follow-path hidden" {{action 'toggleFollowPathMode'}}>
    <span class="glyphicon glyphicon-{{followPathModeIcon}}" aria-hidden="true"></span>
</button>
