{{#dropdown-list item="Export" icon="export" toggle="tooltip" title="Export the path related ot the trailer's trail"}}
    <ul class="dropdown-menu mtg-trail-tools-export-dropdown">
      {{#each formats as |format|}}
          <li><a {{action 'trailerTraceExportAction' format}}>{{format}}</a></li>
      {{/each}}
    </ul>
{{/dropdown-list}}
