<button type="button"
        class="btn btn-warning mtg-trail-create-team"
        {{action 'teamTraceCreateAction'}}
        data-toggle="tooltip"
        title={{t "map.menu.mtg.trail.tools.trace.team.tooltip"}}>
    <img src="assets/images/track.png" class="inverted" width="16" height="16"/>
</button>
