{{render "mtgTrailManager" controller="mtgTrail"}}
<div class={{if selectedTrail "visible btn-group" "hidden"}}>
  {{render "mtgTrailTools" controller="mtgTrail"}}
  {{render "mapDraw" controller="mapDraw"}}
</div>
