{{#dropdown-list selected=selectedLevel item="Level" img="assets/images/rocket.png"}}
<ul class="dropdown-menu map-data-level-dropdown">
  <li class="header">
    <div class="input-group input-group-sm">
      {{input type="text" class="form-control" value=levelName placeholder="Level name" size="8"}}
                <span class="input-group-btn">
                  <button type="button" class="btn btn-default" {{action 'addLevel'}}>
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                  </button>
                </span>
    </div>
  </li>
  {{#each level in levels}}
  <li><a  {{action 'changeLevel' level }}>{{level}}</a></li>
  {{/each}}
</ul>
{{/dropdown-list}}
